/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
@font-face{font-family:'Montserrat';src:url('../fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype');}@font-face{font-family:'Oswald';src:url('../fonts/Oswald/Oswald-Regular.ttf')  format('truetype');}
html {
	--primary-color: #8fbc8f;
	--secondary-color: #f5f5dc;
	--tertiary-color: #f1af63;
	--menu-hover: #9f8d76;
	--header-height : 90px;
	--main-gutter: 10px;
	--main-width: 600px;
	--footer-height: 50px;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
.logo-container{float:left;width:90px;height:90px;margin:-15px 0 0 -15px;-webkit-perspective:90px;perspective:90px;margin-top:0px;margin-left:0px;}.logo{display:block;width:100%;height:100%;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform:translateZ(-90px);transform:translateZ(-90px);-webkit-transition:-webkit-transform .5s;transition:transform .5s}.logo span{display:block;width:90px;height:90px;display:block;position:absolute;line-height:85px;font-family:Oswald,sans-serif;font-size:40px;font-weight:700;color:#fff;text-align:center;}.logo .front{background:#9f8d76}.logo .back{background:#f1af63}.logo .right{background:#90b774}.logo .left{background:#fff;color:#333}.logo .top{background:#81c9d1}.logo .bottom{background:#fff;color:#333}.logo .front{-webkit-transform:rotateY(0) translateZ(45px);transform:rotateY(0) translateZ(45px)}.logo .back{-webkit-transform:rotateX(180deg) translateZ(45px);transform:rotateX(180deg) translateZ(45px)}.logo .right{-webkit-transform:rotateY(90deg) translateZ(45px);transform:rotateY(90deg) translateZ(45px)}.logo .left{-webkit-transform:rotateY(-90deg) translateZ(45px);transform:rotateY(-90deg) translateZ(45px)}.logo .top{-webkit-transform:rotateX(90deg) translateZ(45px);transform:rotateX(90deg) translateZ(45px)}.logo .bottom{-webkit-transform:rotateX(-90deg) translateZ(45px);transform:rotateX(-90deg) translateZ(45px)}.logo.show-front{-webkit-transform:translateZ(-90px) rotateY(0);transform:translateZ(-90px) rotateY(0)}.logo.show-back{-webkit-transform:translateZ(-90px) rotateX(-180deg);transform:translateZ(-90px) rotateX(-180deg)}.logo.show-right{-webkit-transform:translateZ(-90px) rotateY(-90deg);transform:translateZ(-90px) rotateY(-90deg)}.logo.show-left{-webkit-transform:translateZ(-90px) rotateY(90deg);transform:translateZ(-90px) rotateY(90deg)}.logo.show-top{-webkit-transform:translateZ(-90px) rotateX(-90deg);transform:translateZ(-90px) rotateX(-90deg)}.logo.show-bottom{-webkit-transform:translateZ(-90px) rotateX(90deg);transform:translateZ(-90px) rotateX(90deg)}
.hidden {display: none;}
header {
	background-color:  var(--primary-color);
	background: -moz-linear-gradient(45deg, var(--primary-color) 0%, #90b774 100%);
	background: -webkit-linear-gradient(45deg, var(--primary-color) 0%,#90b774 100%);
	background: linear-gradient(45deg, var(--primary-color) 0%,#90b774 100%);
	height: var(--header-height);
	width: 100%	;
	position: sticky;
	top: 0px;
}
header .menu-btn {
    float: right;
    font-size: calc(var(--header-height) / 2);
    line-height: var(--header-height);
    width: var(--header-height);
    text-align: center;
    cursor: pointer;
    color: #ffffff			;
}
header .nav {
	position: absolute;
    right: 0;
    top: var(--header-height);
    background: var(--tertiary-color);
    transition: 0.2s;
    width: 200px;
    transform: translateX(200px);
}
header .nav.open {
	transform: none;
}
header .nav ul {
	margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
}
header .nav ul li a {
	display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
}
header .nav ul li a:hover {
	background-color: var(--menu-hover);
}
main {
	max-width: var(--main-width);
    margin: var(--main-gutter) auto;
    width: calc(100% - ( var(--main-gutter) * 2) );
}
main p {
	line-height: 1.5rem;
    letter-spacing: 0.2px;
}
footer {
	height: var(--footer-height);
	background-color: var(--secondary-color);
	text-align: center;
}
footer p {
	line-height: var(--footer-height);
	margin-top: 0px;
	margin-bottom: 0px;
	color: #666666;
}
